.page-wrapper a {
    padding: 20px;
    border: none;
    background-color: transparent;
    position: relative;
    outline: none;
    border-radius: 5px;
    color: #292d48;
    font-size: 18px;
}

a .cart-item {
    position: absolute;
    height: 24px;
    width: 24px;
    top: -10px;
    right: -10px;
}

a .cart-item:before {
    /*    content: '1';*/
    content: attr(data-totalitems);
    display: block;
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    font-weight: 600;
    background: #2bd156;
    color: white;
    border-radius: 20px;
    text-align: center;
}

a.sendtocart .cart-item {
    display: block;
    animation: xAxis .5s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
}

a.sendtocart .cart-item:before {
    animation: yAxis .5s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}


.cart {
    top: 25px;
    font-size: 2.5em;
    position: fixed;
    right: 0;
    margin-right: 4%;
    z-index: 3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 2px 6px;
    border-radius: 100%;
}


.cart:before {
    content: attr(data-totalitems);
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: -12px;
    background: #2bd156;
    line-height: 24px;
    padding: 0 5px;
    height: 24px;
    min-width: 24px;
    color: white;
    text-align: center;
    border-radius: 24px;
    z-index: 5;

}

.cart.shake {
    animation: shakeCart .3s ease-in-out forwards;
}

@keyframes xAxis {
    100% {
        transform: translateX(calc(50vw - 105px));
    }
}

@keyframes yAxis {
    100% {
        transform: translateY(calc(-50vh + 75px));
    }
}

@keyframes shakeCart {
    20% {
        transform: translateX(6px);
    }

    40% {
        transform: translateX(-4px);
    }

    60% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}


@media (max-width: 767px) {
    .cart {
        top: 25px;
        font-size: 2.5em;
        position: fixed;
        right: 0;
        margin-right: 4%;
        padding: 2px 6px 2px 6px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 600px) {
    .cart {
        font-size: 2em;
        padding: 2px 6px 2px 6px;
        width: 40px;
        height: 40px;

    }
}

@media (max-width: 400px) {
    .cart {
        padding: 2px 6px 2px 6px;
        width: 40px;
        height: 40px;

    }
}
