.rotator {
    position: absolute;
    font-size: 2.5em;
    height: 100%;
    width: 90%;
    margin-left: 5%;
}

.rotator .item {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    color: #e40007;
    /*    color: #ca3dc8;*/
    font-family: 'Freckle Face', cursive;
}

.rotator .item.active {
    visibility: visible;
    opacity: 1;
}

.rotator .item span {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.rotator .item span.active {
    visibility: visible;
    opacity: 1;
}

.left {
    margin-top: 120px;
    width: 1px !important;
    word-wrap: break-word;
    margin-left: 10%
}

.right {
    margin-top: 200px;
    width: 1px !important;
    word-wrap: break-word;
    margin-left: 90%
}



@media only screen and (max-width: 767px) {

    .rotator {
        width: 100%;
        overflow-x: hidden;
        margin-left: -5%;
    }

    .rotator .item {
        font-size: .7em;
    }

    .right {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 450px) {

    .rotator .item {
        margin-top: px;
        font-size: 0.5em;
        letter-spacing: 15px;
    }

}
