#content {
    height: auto;
}

.wiggle {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    -webkit-animation: wiggle 3s cubic-bezier(.9, .20, .20, .9) infinite alternate;
    box-shadow: 10px 10px 1px 0 rgba(0, 0, 0, .15);
}

.wiggle:hover {
    -webkit-animation: none;
}

.short-animate {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.long-animate {
    -webkit-transition: .5s .5s ease-in-out;
    -moz-transition: .5s .5s ease-in-out;
    -ms-transition: .5s .5s ease-in-out;
    -o-transition: .5s .5s ease-in-out;
    transition: .5s .5s ease-in-out;
}


.lightbox-container {
    position: fixed;
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(161, 4, 52, .8);
    z-index: 501;
    opacity: 0;
}

.lightbox {
    background-color: green;
    height: 510px;
    padding: 20px 20px 20px 20px;
    background-image: url("../img/Lightbox-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 20%;
    -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    
}

@media (max-width: 768px) {
    .lightbox {
       top: 10%;
    }
}


.lightbox-content-container {
    height: 100%;
    background: rgba(255, 255, 255, .8);
    padding: 0px 15px 20px 5px;
    margin: 0 auto;
    display: block;
}

.title h1 {
    text-align: center;
    color: #f66867;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 0.05rem;
}


.lightbox-img {
    padding: 10px;
}


.lightbox-img img {
    display: block;
    margin: 0 auto;
}


.subscribe h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    color: #3e4146;
    line-height: 130%;
    letter-spacing: 0.07rem;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 550px) {
    .subscribe h1 {
        font-size: 1.2em;

    }
}

.subscribe h1 span {
    color: #f66867;
}

.subscribe form {
    overflow: hidden;
}

.subscribe form input {
    padding: 15px 20px;
    text-align: center;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.05rem;
    outline: 0;
    margin: 0 auto;
    display: block;
}

.subscribe form input[type="email"] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    margin-bottom: 0px;
    width: 100%;
    border-right-width: 0px;
}


.subscribe form input[type="email"]:focus {
    border-color: #3e4146;
}

.lightbox-submit {
    box-shadow: 0 0 26px 1px #a1c3fe;
    color: #ffffff;
    background-color: #40C4FF;
    border: 1px solid #40C4FF;
    font-weight: bold;
    font-size: 1em;
    transition: 0.3s linear;
    width: 100%;



}


.lightbox-submit:hover {
    cursor: pointer;
    box-shadow: 0 0 6px #a1c3fe;
}

.lightbox-submit:active {
    transform: translatey(3px);
    box-shadow: 0 0 0px #a1c3fe;
}


@media (min-width: 768px) {

    .subscribe form input[type="submit"] {
        /*        width: 25%;*/
    }
}


#lightbox-controls {
    position: fixed;
    height: 70px;
    width: 70px;
    top: -70px;
    right: 0;
    z-index: 502;
    background: rgba(0, 0, 0, .1);
}

#close-lightbox {
    display: block;
    position: absolute;
    overflow: hidden;
    height: 50px;
    width: 50px;
    text-indent: -5000px;
    right: 10px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#close-lightbox:before {
    content: '';
    display: block;
    position: absolute;
    height: 0px;
    width: 3px;
    left: 24px;
    top: 0;
    background: white;
    border-radius: 2px;
    -webkit-transition: .5s .5s ease-in-out;
    -moz-transition: .5s .5s ease-in-out;
    -ms-transition: .5s .5s ease-in-out;
    -o-transition: .5s .5s ease-in-out;
    transition: .5s .5s ease-in-out;
}

#close-lightbox:after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 3px;
    top: 24px;
    left: 0;
    background: white;
    border-radius: 2px;
    -webkit-transition: .5s 1s ease-in-out;
    -moz-transition: .5s 1s ease-in-out;
    -ms-transition: .5s 1s ease-in-out;
    -o-transition: .5s 1s ease-in-out;
    transition: .5s 1s ease-in-out;
}

.lightbox-container:target {
    top: 0%;
    bottom: 0%;
    opacity: 1;
}

.lightbox-container:target img {
    max-width: 100%;
    max-height: 100%;
}

.lightbox-container:target ~ #lightbox-controls {
    top: 0px;
}

.lightbox-container:target ~ #lightbox-controls #close-lightbox:after {
    width: 50px;
}

.lightbox-container:target ~ #lightbox-controls #close-lightbox:before {
    height: 50px;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(2deg);
    }

    20% {
        -webkit-transform: rotate(-2deg);
    }

    40% {
        -webkit-transform: rotate(2deg);
    }

    60% {
        -webkit-transform: rotate(-2deg);
    }

    80% {
        -webkit-transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(-2deg);
    }
}
