#modal-reviews {
    font-family: 'PT Sans', sans-serif;
    max-height: calc(100% - 100px);
    height: 490px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8ff;
    padding: 0px;
    border-radius: 15px;
}

.reviewHeader {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: inherit;
}

.reviewSubHeader {}


.reviewsTitle {
    font-weight: 600;
    padding: 10px 10px 10px 10px;

}


.bookNameReviewTitle {
    text-align: center;
}


.starRatingAvg {
    font-size: 1.7em;
    margin-top: 0px;
}

.starRatingAvgImg {}

.numberOfReviews {
    color: black;
    font-size: 1.5em;
    margin-top: 10px;
}

.closeReviews {
    font-size: 5em;
    color: red;
    opacity: 1;
    float: right;
    border: none;
    background-color: transparent;
    position: sticky;
    top: 10;
    margin-left: -2%;
    z-index: 2;
    position: absolute;
}

.closeReviews:hover {
    opacity: .5;
}


.reviews-container {
    font-family: 'Open Sans', sans-serif;
    height: auto;
    background-color: #f8f8ff;
    margin-top: 0px;
    padding: 10px;
}

.reviewerCell {
    padding: 10px;
}

.reviewerName {
    font-size: 1.5em;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-weight: 500;
    margin-top: -10px;
}

.reviewerStarRating {
    height: 20px;
    width: 100px;
    margin-top: 9%;
    margin-left: -10px;
}

.reviewerDate {
    font-size: .5em;
    font-weight: 500;
    color: darkgray;
    text-align: right;
    font-size: 1em;
    padding-right: 40px;
    margin-top: 2.8%;
}


.reviewerDesc {
    font-size: 1em;
    font-weight: 500;
    padding: 0px 40px 10px 10px;
    height: 50%;
    overflow-y: auto;
    margin-top: 10px;
}

.noReviews {
    text-align: center;
    margin-top: 5%;
}

.reviewerSeparater {
    border-top: 1px solid lightgray;
    margin-right: 20px;
}


@media (max-width: 991px) {

    .reviewerName {
        text-align: left;
        padding-left: 10px;
        margin-top: -20px;

    }


    .reviewerStarRating {
        margin-top: 4%;
    }
}

@media (max-width: 767px) {

    .closeReviews {
        font-size: 4em;
        margin-left: -5%;
    }

    .custReviewTitle {
        font-size: 2em;
    }

    .bookNameReviewTitle {
        font-size: 1.7em;
    }

    .noReviews {
        font-size: 1.2em;
    }
}

@media (max-width: 467px) {
    .closeReviews {
        margin-left: -7%;
    }

}