.events-container {
    margin-top: 50px;
    text-align: center;
    background-image: url(../img/Orange-BG.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.events-title {
    background-image: url(../img/Blk-Granite-BG.jpg);
    background-attachment: fixed;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    height: 55px;
    position: absolute;
    margin-top: -75px;
    z-index: 1;
    left: 17%!important;
    transform: translate(-50%, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

.cal {
    background: rgba(228, 241, 254, .7);
    padding: 1em;
    display: inline-block;
    width: ;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1);
    margin-top: 0px;
    transform: .3s;
}

.cal-event {
    padding: 1em 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cal-event-tile {
    color: white;
    text-align: center;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .2em;
    margin-right: 1em;
    flex-shrink: 0;
    border-radius: .5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-image: url(../img/Purple-BG.jpg);
}

.cal-event-tile-date,
.cal-event-tile-month {
    width: 100%;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.cal-event-tile-date {
    font-size: 1.5em;
}

.cal-event-tile-month {
    font-size: 1.3em;
}

.cal-event-desc {}

.cal-event-title {
    font-size: 1.7em;
    color: #000000;
}

.cal-event-map {
    display: block;
    margin: 0 auto;
    color: black;
    border: 1px solid black;
    background: darkorange;
    text-align: center;
    padding: .1em 1em;
    border-radius: .2em;
    text-decoration: none;
    margin-top: .5em;
}

.cal-event-map:focus {
    text-decoration: none;
}

.cal-event-map:visited {
    color: white;
}

.cal-event-map:hover {
    background: darkorange;
    color: black;
    border: 1px solid black;
}

.cal-event-location,
.cal-event-time {
    font-weight: 500;
    margin: .2em 0;
    display: flex;
    justify-content: flex-start;
    /*    align-items:center;*/
    text-align: left;
    color: #777;
}

icon {
    font-family: fontawesome;
    width: 1.2em;
    display: inline-block;
    text-align: center;
    margin-right: .5em;
}

.cal-hidden-events {
    width: 100%;
    text-align: center;
    margin: .5em 0;
    color: #4183d7;
    cursor: pointer;
}

.cal-hidden-events:hover {
    color: darken(#4183d7, 20%);

}

.cal-event.ng-enter {
    transition: 0.3s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */

.cal-event.ng-enter.ng-enter-active {
    opacity: 1;
}

.cal-event.ng-leave {
    transition: 0.4s linear all;
    opacity: 1;
    max-height: 200px;
}

.cal-event.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0;
}
