.rotator {
    position: absolute;
    font-size: 3em;
    height: 100%;
    width: 90%;
    margin-left: 5%;
}

.rotator .item {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    color: #ca3dc8;
    font-family: 'Freckle Face', cursive;


}

.rotator .item.active {
    visibility: visible;
    opacity: 1;
}

.rotator .item span {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.rotator .item span.active {
    visibility: visible;
    opacity: 1;
}

.left {
    margin-top: 130px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: auto;
}

.right {
    margin-top: 240px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}







@media only screen and (max-width: 767px) {

    .rotator {
        width: 100%;
        margin-left: 0%;
    }

    .rotator .item {
        font-size: .7em;
    }

    .right {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 450px) {

    .rotator .item {
        font-size: .5em;
    }

}
