/*MOBILE/SMALL DEVICES*/

@media only screen and (max-width: 991px) {
    .books-container img {
        width: 150px;
    }

    #carousel ~ span {
        font-size: 6em;
    }

    .book-cover-container {
        width: 40%;
        left: 30%;
    }

    .books-container p {
        width: 200px;
        font-size: 1.1em;
    }

    .book-cover-container img {
        width: 200px;
    }

    .carousel_wrapper {
        margin: 30px auto 0 auto;
    }

    .slide {
        width: 200px;
    }

    .slide.one {
        transform: rotateY(0deg) translateZ(275px);
    }

    .slide.two {
        transform: rotateY(72deg) translateZ(275px);
    }

    .slide.three {
        transform: rotateY(144deg) translateZ(275px);
    }

    .slide.four {
        transform: rotateY(216deg) translateZ(275px);
    }

    .slide.five {
        transform: rotateY(288deg) translateZ(275px);
    }

}

@media only screen and (max-width: 767px) {

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        position: absolute;
        border-color: transparent;
        background-image: url(../img/Purple-BG.jpg);
        z-index: 1;
        padding-bottom: 30px;
        padding-top: 70px;
        margin-top: -80px;
        width: 100%;
    }

    .navbar-header .navbar-toggle,
    .navbar-header .navbar-toggle:hover,
    .navbar-header .navbar-toggle:focus {
        border: none;
        padding: 0;
        background-color: transparent;
        z-index: 2;
    }

    .navbar-header .navbar-toggle .icon-bar {
        /*    border: 3px solid #b637ff;*/
        border: 3px solid darkorange;
        background-color: transparent;
        width: 45px;
        height: 6px;
        margin-bottom: 7px;
        z-index: 2;
    }

    .navbar-collapse .navbar-nav {
        margin-top: 0px;
        width: 100%;
    }

    .book-container {
        height: 1000px;
    }

    .jumbotron-book {
        height: 55%;
    }

    .order-btn-container {
        top: 600px;
        position: ;
        z-index: 1;
    }

    .order-btn {
        width: 250px;
    }

    .about-bio-container {
        margin-top: auto;
    }

    .about-bio-img {
        width: 170px;
        height: 170px;
    }

    .about-bio-container-title {
        font-size: 2.8em;
        padding-top: 120px;
        padding-bottom: 20px;
    }

    .about-bio-body {
        font-size: 1.4em;
        padding: 0px;
    }

    .arrow-down {
        margin-top: 20px;
    }

    .arrow-down:before {
        width: 40px;
        height: 40px;
    }

    .arrow-down-caption {
        font-size: 1.3em;
        margin-top: -15px;
        margin-left: -20px;
    }

    .arrow-up {
        margin-top: 20px;
    }

    .arrow-up:before {
        width: 40px;
        height: 40px;
    }

    .arrow-up-caption {
        font-size: 1.3em;
        margin-top: 30px;
        margin-left: -20px;
    }


    .books-container {
        height: 550px;
    }

    .books-container img {
        width: 175px;
    }

    #carousel ~ span {
        font-size: 5em;
    }

    .carousel_wrapper {
        margin: 40px auto 0 auto;
    }

    .slide {
        width: 175px;
    }

    .slide.one {
        transform: rotateY(0deg) translateZ(220px);
    }

    .slide.two {
        transform: rotateY(72deg) translateZ(220px);
    }

    .slide.three {
        transform: rotateY(144deg) translateZ(220px);
    }

    .slide.four {
        transform: rotateY(216deg) translateZ(220px);
    }

    .slide.five {
        transform: rotateY(288deg) translateZ(220px);
    }

    .contact-container p {
        font-size: 1.5em;
    }

    .contact-publishing-img {
        width: 200px;
    }

    .copy-rights {
        text-align: center;
    }

    .web-designer {
        text-align: center;
    }

    .footer-links li {
        font-size: 1.4em;
    }


    /*MOBILE/SMALL DEVICES*/
    @media only screen and (max-width: 450px) {

        .author-name-top {
            font-size: 4em;
            padding-left: 115px;
        }

        .author-name-bottom {
            font-size: 5em;
            margin-top: -30px;
        }

        .author-tags {
            font-size: 1.3em;
        }

        .social-media-icons {
            width: 30px;
        }

        .book-container {
            height: 825px;
        }

        .jumbotron-book {
            height: 400px;
        }

        .order-btn-container {
            top: 450px;
        }

        .order-btn-container:active {
            bottom: -785px;
        }

        .order-btn {
            width: 200px;
        }

        .about-bio-img {
            width: 150px;
            height: 150px;
        }

        .about-bio-container-title {
            font-size: 2.5em;
            padding-top: 100px;

        }

        .about-bio-body {
            font-size: 1.2em;
            padding: 0px;
        }


        .books-title {
            font-size: 1.9em;
        }

        .books-container img {
            margin-top: 50px;
            width: 200px;
            height: 200px;
        }

        .slide {
            width: 200px;
        }

        .slide.one {
            transform: rotateY(0deg) translateZ(153px);
        }

        .slide.two {
            transform: rotateY(72deg) translateZ(153px);
        }

        .slide.three {
            transform: rotateY(144deg) translateZ(153px);
        }

        .slide.four {
            transform: rotateY(216deg) translateZ(153px);
        }

        .slide.five {
            transform: rotateY(288deg) translateZ(153px);
        }

        #modal-backdrop-img {
            min-width: 100%;
            height: 105%;
            padding-bottom:
        }

        #carousel ~ span {
            font-size: 5em;
            margin-top: -150px;
        }

        .modal-header-info img {
            min-width: 25%;
        }

        #modal-books .modal-header-container .close {
            font-size: 3em;
        }

        #modal-books .modal-title {
            font-size: 1.5em;
        }

        .modal-order-btn {
            width: 50%;
        }

        .modal-price {
            font-size: 1.5em;
            padding: 0;

        }

        #modal-books {
            height: 400px;
        }

        #modal-books .modal-desc {
            padding-top: 20px;
            font-size: 1.2em;
        }

        .modal-title li a {
            margin-bottom: 15px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            width: 100%;
            max-width: 300px;
        }

        .cal-event-title {
            font-size: 1.5em;
        }

        .contact-title {
            font-size: 1.8em;
        }

        .contact-container p i {
            font-size: .9em;
        }

        .contact-publishing-img {
            width: 170px;
        }

    }
